body{
    background: bisque;
    font-family: monospace;
    font-size: 32px;
}

.wrapper{
    width: 800px;
    margin:auto;
    background-color: burlywood;
}

.completed{
    text-decoration-line: line-through;
}